@page "/playerview"
@using GurpsCompanion.Shared.Core
@inject HttpClient Http
@inject AppStateContainer StateContainer
@inject PlayerViewEventBus EventBus

<div class="row">
    @if (Characters?.Count > 0)
    {
        <div class="col-md-2">
            <DataList LabelText="Select Character" SelectedItemChanged="SelectedDataListItemChanged" Items="DataListItems"></DataList>
        </div>
        @if (SelectedCharacterModel != null)
        {
            <div class="col-md-10">
                <PlayerStats SelectedCharacterModel="CharacterEditModel"></PlayerStats>
            </div>
        }
        @if (SelectedCharacterModel != null && CharacterInformation != null)
        {
            <div class="row col-md-12 d-flex text-center">
                <div class="col-md-4 border">
                    <PlayerItems Items="CharacterInformation.Items" SelectedCharacterModel="CharacterInformation.CharacterModel"></PlayerItems>
                </div>
                <div class="col-md-4 border">
                    <PlayerSkills Skills="CharacterInformation.Skills" SelectedCharacterModel="CharacterInformation.CharacterModel"></PlayerSkills>
                </div>
                <div class="col-md-4 border">
                    <label class="col-form-label-lg">Advantages</label>
                </div>
            </div>
        }
    }
</div>