@using GurpsCompanion.Shared.DataModel
@inject HttpClient Http
@inject PlayerViewEventBus EventBus
@inject IJsFunctionCallerServiceFactory JsServiceFactory

<EditForm class="col-md-12" Model="GlossaryEditModel" OnValidSubmit="UpdateEntry">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="row col-md-12">
        <div class="col-md-2">
            <label class="col-form-label">Name</label>
            <InputText @bind-Value="@GlossaryEditModel.Name" class="form-control"></InputText>
        </div>
        <div class="col-md-10">
            <label class="col-form-label">Description</label>
            <InputTextArea @bind-Value="@GlossaryEditModel.Description" class="form-control"></InputTextArea>
        </div>
        <canvas style="border:1px solid grey;" id="pasteArea" width="300" height="300"></canvas>
        <div class="d-flex justify-content-between col-md-12">
            <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Add" type="submit">Add new Entry</button>
            <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Update" type="submit">Update Entry</button>
            <button class="btn btn-primary m-2" @onclick="()=>SubmitAction=Core.CrudActions.Delete" type="submit">Delete Entry</button>
        </div>
    </div>
</EditForm>